{
    "presets": [
        "es2017"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": [
                    "./src"
                ]
            }
        ]
    ]
}